/* styles.css */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --searchBg: #ffffff;
    --fg: #000000;
    --fontFamily: 'Roboto';
}

/* Base styles */
html,
body {
    width: 100%;
    height: 100%;
    background: var(--searchBg);
    font-family: var(--fontFamily);
}

h1 {
    color: #333;
    font-size: 2.5em;
}

h2 {
    color: #555;
    font-size: 2em;
}

p {
    color: #444;
    font-size: 1.3em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* homepage */
/* search */
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.search-field {
    width: 100%;
    max-width: 1400px;
    padding: 0.75em 1em;
    font-size: 3.5rem;
    color: var(--fg);
    background: var(--searchBg);
    border: none;
    outline: none;
    text-align: center;
}

/* results page */
.card {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    border: 2px solid black;
    padding: 3em;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    height: 90%;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5em;
    margin-left: 3em;
    margin-bottom: 2em;
}

.item-image {
    min-width: 40%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border: 2px solid black;
}

/* audio player */
audio {
    display: none;
}

/* Custom Audio Controls */
.audio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    width: 90%;
}

.separation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 100%;
    margin: 0;
}

#play-button:hover {
    cursor: pointer;
}

input[type="range"] {
    position: relative;
    /* -webkit-appearance: none; */
    width: 80%;
    margin: 0;
    padding: 0;
    height: 10px;
    margin: 0 2.5% 0 2.5%;
    float: left;
    outline: none;
}

/* buttons */
.button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}