<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About This Project</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <!-- page content -->
    <div class = "container" style="padding:10rem;">
      <!-- title -->
      <h1>About This Project</h1>

      <!-- about the contributors -->
      <h2>Contributors</h2>

      <div class="card">
        <!-- aasees -->
        <div class="contributor">
          <h4>Aasees Badesha</h4>
          <a href="https://github.com/aaseesb" target="_blank">GitHub</a>
        </div>
        <!-- zawar -->
        <div class="contributor">
          <h4>Zawar Gondal</h4>
          <a href="https://github.com/zawarg" target="_blank">GitHub</a>
        </div>
      </div>

      <!-- about the project -->
      <h2>Project Description</h2>
      <p>
        This is a web application that allows users to search for songs by their titles. It fetches song data using the ITunes and Deezer API's and displays information about the song including the title, singer, album, genre and publication year. Additionally, it allows you to play the song. The project is built using Flask, HTML, CSS, JavaScript and Python.
      </p>

      <h2>Thank You!</h2>
      <p>
        Special thanks to the open-source community for providing the resources and APIs that made this project possible.
      </p>      

      <!-- back button -->
      <div class="back-container">
        <a href="/" class="button">⬅</a>
      </div>
    </div>
  </body>
</html>