<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Search</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- page contents -->
    <div class="container">
        <!-- search bars -->
        <form action="/login" method="get" class="search">
            <input class="search-field" type="text" name="username" placeholder="username" autofocus required />
            <input class="search-field" type="text" name="password" placeholder="password" autofocus required />
            <button type="submit">Login</button>
        </form>
        <button type="submit">Sign up</button>
    </div>
</body>

</html>