<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <!-- display results of search -->
            <div class="card">
                <div class="item-info">
                    <span>{{results.type}}</span>
                    <h3>{{results.title}}</h3>
                    <p>{{results.artist}}</p>
                </div>
                <!-- hide image if it doesn't exist -->
                <img class="item-image" src="{{ results.image }}" onerror="this.style.display='none';">
            </div>
            <!-- back button -->
            <div class="back-container">
                <a href="/" class="back-button">⬅</a>
            </div>
        </div>
    </body>
</html>