<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Search</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- page contents -->
    <div class="container">
        <!-- search bars -->
        <form method = "POST">
            <input class="search-field" type="text" name="username" placeholder="username" autofocus required />
            <input class="search-field" type="password" name="password" placeholder="password" autofocus required />
            <button type="submit">Sign up</button>
        </form>
        <p>Already have an account? <a href="/login" class="button">Login</a></p>
        <ul>
            <li style="color:red;">{{ message }}</li>
        </ul>
    </div>
</body>

</html>